.nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav2 {
  text-decoration: none;
  color: white;
  font-family: 'Cormorant SC', serif;
  font-size: 30px;
}

.nav2:hover {
  text-decoration: underline;
  color: rgb(221, 228, 222);
}

.main {
  text-align: center;
}

html {
  background: url('https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iOylyZJTr_JA/v0/1200x-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.countryList {
  float: left; 
  width: 33%;
}

.countryLinks {
  text-decoration: none;
  color: white;
  font-family: 'Cormorant SC', serif;
  font-size: 25px;
}

.countryLinks:hover {
  text-decoration: underline overline;
  color: rgb(221, 228, 222);
}

.openingArt {
  width: 75%;
  height: 75%
}

.emissions{
    text-decoration: none;
    color: white;
    font-family: 'Cormorant SC', serif;
    font-size: 25px;
}