.nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
}

.main {
  text-align: center;
}

html {
  background: url('https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iOylyZJTr_JA/v0/1200x-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

