.nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav2 {
  text-decoration: none;
  color: white;
  font-family: 'Cormorant SC', serif;
  font-size: 30px;
}

.nav2:hover {
  text-decoration: underline;
  color: rgb(50, 179, 71);
}

.main {
  text-align: center;
}

html {
  background: url('https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iOylyZJTr_JA/v0/1200x-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.countryList {
  float: left; 
  width: 33%;
}

.countryLinks {
  text-decoration: none;
  color: white;
  font-family: 'Cormorant SC', serif;
  font-size: 25px;
}

.countryLinks:hover {
  text-decoration: underline overline;
  color: rgb(50, 179, 71);
}

.openingArt {
  width: 75%;
  height: 75%
}

.emissions{
    text-decoration: none;
    color: white;
    font-family: 'Cormorant SC', serif;
    font-size: 25px;
    border-style: solid;
    border-color:black;
    border-width: .1em;
    width: 40vw; 
    margin: auto;
    background-color: rgba(20, 38, 70, 0.38);
}

.eList {
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: black;
  margin: 0px;
}

.graph {
  width: 75vw;
  margin: auto;
  padding-bottom: 5vh; 
}