

.nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav2 {
  text-decoration: none;
  color: white;
  font-family: "Cormorant SC", serif;
  font-size: 30px;
}

.nav2:hover {
  text-decoration: underline;
  color: rgb(50, 179, 71);
}

.main {
  text-align: center;
}

html {
  background: url("https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iOylyZJTr_JA/v0/1200x-1.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.countryList {
  float: left;
  width: 33%;
}

.countryLinks {
  text-decoration: none;
  color: white;
  font-family: "Cormorant SC", serif;
  font-size: 25px;
}

.countryLinks:hover {
  text-decoration: underline overline;
  color: rgb(50, 179, 71);
}

.openingArt {
  width: 75%;
  height: 75%;
}

.emissions {
  text-decoration: none;
  color: white;
  font-family: "Cormorant SC", serif;
  font-size: 25px;
  border-style: solid;
  border-color: black;
  border-width: 0.1em;
  width: 40vw;
  margin: auto;
  background-color: rgba(46, 152, 171, 0.38);
  margin-bottom: 5vh;
}

.eList {
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: black;
  margin: 0px;
}

.graph {
  width: 75vw;
  margin: auto;
  padding-bottom: 5vh;
}

.home {
  color: white;
  font-family: "Cormorant SC", serif;
  font-size: 25px;
  height: 75vh;
  margin: 0;
}

.title {
  color: white;
  font-family: "Cormorant SC", serif;
  font-size: 50px;
  text-align: center;
  margin: 0px;
}

.about{
    color: white;
    font-family: 'Cormorant SC', cursive;
    font-size: 35px;
    text-align: center;
    margin: 0px;
    background-color:rgba(46, 152, 171, 0.38);
    border-style: solid;
    width: 90vw;
    margin: auto;
    margin-bottom: 10vh;;
}

.aboutParagraph {
  color: white;
  font-family: 'Cormorant', cursive;
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  grid-gap: 10px;
}

.grid-item1 {
  background-image: url("https://environmentamerica.org/sites/environment/files/wind_turbines-lines-Arina_P_Habich_via_shutterstock_13290388.jpg"), linear-gradient(#eb01a5, #d13531);
  background-size: cover;
  background-position: center;
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid-item2 {
  background-image: url("https://iea.imgix.net/0f8115b4-76a4-4882-a441-5e46778d694f/shutterstock_1185961420.jpg?auto=compress%2Cformat&fit=min&q=80&rect=487%2C0%2C3032%2C3032");
  background-size: cover;
  background-position: center;
  grid-column: 1/2;
  grid-row: 2/5;
}

.grid-item3 {
  background-image: url("https://dialogochino.net/wp-content/uploads/2021/07/solar-Brazil-1440x720.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/5;
  grid-row: 5/5;
}

.grid-item4 {
  background-image: url("https://images.theconversation.com/files/448921/original/file-20220228-23-ddi17z.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop");
  background-size: cover;
  background-position: center;
  grid-column: 2/4;
  grid-row: 2/5;
}

.grid-item5 {
  background-image: url("https://foreignpolicy.com/wp-content/uploads/2022/06/1-china-energy-coal-GettyImages-625667906.jpg?w=1500=d07ea713fcf12221034dafd8f4ffe82b&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  grid-column: 4/6;
  grid-row: 1/3;
}

.grid-item6 {
  background-image: url("https://static.dw.com/image/59710463_303.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 4/5;
  grid-row: 3/5;
}

.grid-item7 {
  background-image: url("https://media.istockphoto.com/photos/lot-of-tall-windmill-picture-id498364465?k=20&m=498364465&s=612x612&w=0&h=YAnfE8MNg4-rlX9pEFoZZvfMptvvUWO1oXbg-k7PiFk=");
  background-size: cover;
  background-position: center;
  grid-column: 5/6;
  grid-row: 3/6;
}

.grid-item8 {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/896/375/702/nature-photography-portrait-display-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 6/8;
  grid-row: 1/6;
}


a {
  text-decoration: none; 
  color: blue;
}

a:hover{
  text-decoration: underline;
}